/*while nci gadi uses the pbspro scheduler, the "out of the box" executor settings
  for the cpus and mem directives does give a correctly formatted #PBS header line.
  Thus the clusterOptions directive is used to set the correct configuration
*/

process {
    executor = 'pbspro'
    queue = 'normal'
    scratch = true
    withName: 'bwa_index|salsa' { clusterOptions = '-P xl04 -l ncpus=4 -l mem=16G -l storage=gdata/xl04+scratch/xl04 -l jobfs=50GB' }
    withName: 'fasta_index|combine|bam2bed' { clusterOptions = '-P xl04 -l ncpus=2 -l mem=8G -l storage=gdata/xl04+scratch/xl04 -l jobfs=20GB'}
    withName: 'bwa_mem' {clusterOptions '-P xl04 -l ncpus=16 -l mem=64G -l storage=gdata/xl04+scratch/xl04 -l jobfs=100GB'}
}

/*process {
    executor = 'pbspro'
    queue = 'normal'
    scratch = true
    clusterOptions = '-P xl04'
}
*/

manifest {
    homePage = 'https://github.com/tbertozzi/hic-pipeline'
    author = 'Terry Bertozzi'
}
