/*while nci gadi uses the pbspro scheduler, the "out of the box" executor settings
  for the cpus and mem directives does give a correctly formatted #PBS header line.
  Thus the clusterOptions directive is used to set the correct configuration
*/

/*process {
    executor = 'pbspro'
    queue = 'normal'
    scratch = true
    withName: 'bwa_index|salsa' { clusterOptions = '-P xl04 -l ncpus=4 -l mem=16G -l storage=gdata/xl04+scratch/xl04 -l jobfs=50GB' }
    withName: 'fasta_index|combine|bam2bed' { clusterOptions = '-P xl04 -l ncpus=2 -l mem=8G -l storage=gdata/xl04+scratch/xl04 -l jobfs=20GB'}
    withName: 'bwa_mem' { clusterOptions = '-P xl04 -l ncpus=16 -l mem=64G -l storage=gdata/xl04+scratch/xl04 -l jobfs=100GB' }
}
*/

// Configuration test implementing /scratch/if89/mxd900/nextflow-21.04.3-all which should have the options fixed
process {
    executor = 'pbspro'
    queue = 'normal'
    cpus = 2
    memory = 8.GB
    scratch = true
    project = 'xl04'
    storage = 'gdata/xl04+scratch/xl04'
    disk = 20GB
    withName: 'bwa_index|salsa' {
        cpus = 4
        memory = 16.GB
        disk = 50GB
    }
    withName: 'bwa_mem' {
        cpus = 16
        memory = 64.GB
        disk = 100GB
    }
}


manifest {
    homePage = 'https://github.com/tbertozzi/hic-pipeline'
    author = 'Terry Bertozzi'
}
